html {
    --primary-color: white;
    --primary-background: #7f5c85;
    --secondary-background: #60855c;
    --secondary-text: #375334;
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-text);
}

.header-text {
    margin-top: -30px;
}

.code-text {
    font-size: 3em;
}

.flex-one {
    flex: 1;
}